@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chewy&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-align: justify;
}

header{
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.titulo{
    color: green;
    font-family: "Permanent Marker", cursive;
}

.streaming{
    color: blueviolet;
}

#menu1{
    background-color: green;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#menu1 a{
    text-decoration: none;
    background-color: green;
    color: white;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    flex-grow: 1;
    flex-shrink: 1;
}

#menu1 a:hover{
    background-color: beige;
    color: black;
}

img{
    width: 300px;
}

#padre{
    margin: auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25px;
}

.contenido{
    display: flex;
    font-family: "Chewy", system-ui;
    font-weight: 400;
    font-style: normal;
}

.servidor{
    font-weight: bold;
}
.stream{
    background-color: greenyellow;
}
.vivo{
    text-decoration: line-through;
}
.programas{
    text-decoration: underline;
}

#imagen1{
    margin-right: 20px;
    border-radius: 0 20% 20% 0;
}

#imagen2{
    margin-left: 20px;
    border-radius: 20% 0 0 20%;
}

#menu2 li{
    list-style-type: none;
}

#menu2 ul{
    margin: auto;
    padding: 20px;
    display: flex;
    justify-content: flex-start;
}

#menu2 a{
    color: yellow;
    text-decoration: none;
    background-color: blue;
    padding: 10px;
    font-weight: bold;
    text-align: center;
    font-size: 20px;
    border-radius: 0 0 15px 15px;
    margin: 30px 5px;
    display: block;
    width: 150px;
}

#menu2 a:hover{
    background-color: red;
}

.plataformas{
    width: 47%;
    margin: auto;
    background-color: greenyellow;
    margin-top: 35px;
    border-style: dotted;
}

figure{
    display: flex;
    justify-content: center;
}

h2{
    text-align: center;
    font-weight: bold;
    padding: 10px;
    background-color: greenyellow;
}

.mundostreaming{
    margin: auto;
    padding: 20px;
}

.subtitulo{
    font-size: xx-large;
}

